@mjml({
  fonts: {
    Niramit: 'https://fonts.googleapis.com/css?family=Niramit:400,500,700'
  }
})
<mjml >
  <mj-body background-color="#F2F2F2">
    <mj-section background-color="#FFFFFF">
      <mj-column>

        <mj-text font-size="20px" color="#2B2B2B" font-family="Niramit">Loan Application Update</mj-text>
        <mj-text font-size="16px" color="#464646" font-family="Murecho">Hi {{userName}},</mj-text>

        <mj-text font-size="16px" color="#464646" font-family="Murecho">We have reviewed your loan application and unfortunately, it does not meet our current approval criteria.</mj-text>

        <mj-text font-size="16px" color="#464646" font-family="Murecho"><strong>Loan Amount:</strong> ₦{{loanAmount}}</mj-text>
        <mj-text font-size="16px" color="#464646" font-family="Murecho"><strong>Loan ID:</strong> {{loanId}}</mj-text>

        <mj-text font-size="16px" color="#464646" font-family="Murecho"><strong>Reason for rejection:</strong></mj-text>
        <mj-text font-size="16px" color="#464646" font-family="Murecho">{{reason}}</mj-text>

        <mj-text font-size="16px" color="#464646" font-family="Murecho">You can review your application details and consider reapplying with updated information.</mj-text>

      </mj-column>

    </mj-section>
    <mj-section>
    <mj-column >
      <mj-text align="center"><span  style="color: #464646">Sent by </span> <span style="color: #080808">Property Sec</span> </mj-text>
        <mj-text align="center">Privacy Policy | Terms and Conditions</mj-text>

       <mj-text align="center"><span style="color: #464646">If you have any questions please contact us at</span>  <span>{{supportEmail}}</span> </mj-text>


      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
@end