@mjml({
  fonts: {
    Niramit: 'https://fonts.googleapis.com/css?family=Niramit:400,500,700'
  }
})
<mjml >
  <mj-body background-color="#F2F2F2">
    <mj-section background-color="#FFFFFF">
      <mj-column>

        <mj-text font-size="20px" color="#2B2B2B" font-family="Niramit">Property Review Update</mj-text>
        <mj-text font-size="16px" color="#464646" font-family="Murecho">Hi {{userName}},</mj-text>

        <mj-text font-size="16px" color="#464646" font-family="Murecho">We have reviewed your property "{{propertyTitle}}" and unfortunately, it does not meet our current publishing criteria.</mj-text>

        <mj-text font-size="16px" color="#464646" font-family="Murecho">Property ID: {{propertyId}}</mj-text>

        <mj-text font-size="16px" color="#464646" font-family="Murecho"><strong>Reason for rejection:</strong></mj-text>
        <mj-text font-size="16px" color="#464646" font-family="Murecho">{{reason}}</mj-text>

        <mj-text font-size="16px" color="#464646" font-family="Murecho">You can update your property and resubmit it for review. Please make the necessary changes and try again.</mj-text>

      </mj-column>

    </mj-section>
    <mj-section>
    <mj-column >
      <mj-text align="center"><span  style="color: #464646">Sent by </span> <span style="color: #080808">Property Sec</span> </mj-text>
        <mj-text align="center">Privacy Policy | Terms and Conditions</mj-text>

       <mj-text align="center"><span style="color: #464646">If you have any questions please contact us at</span>  <span>support@propertysec.com</span> </mj-text>


      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
@end