@mjml({
  fonts: {
    Niramit: 'https://fonts.googleapis.com/css?family=Niramit:400,500,700'
  }
})
<mjml >
  <mj-body background-color="#F2F2F2">
    <mj-section background-color="#FFFFFF">
      <mj-column>

        <mj-text font-size="20px" color="#2B2B2B" font-family="Niramit">Property Created Successfully!</mj-text>
        <mj-text font-size="16px" color="#464646" font-family="Murecho">Hi {{userName}},</mj-text>

        <mj-text font-size="16px" color="#464646" font-family="Murecho">Your property "{{propertyTitle}}" has been created successfully and is now under review. Our team will review it shortly and notify you once it's published.</mj-text>

        <mj-text font-size="16px" color="#464646" font-family="Murecho">Property ID: {{propertyId}}</mj-text>

        <mj-text font-size="16px" color="#464646" font-family="Murecho">You can check the status of your property in your dashboard.</mj-text>

      </mj-column>

    </mj-section>
    <mj-section>
    <mj-column >
      <mj-text align="center"><span  style="color: #464646">Sent by </span> <span style="color: #080808">Property Sec</span> </mj-text>
        <mj-text align="center">Privacy Policy | Terms and Conditions</mj-text>

       <mj-text align="center"><span style="color: #464646">If you have any questions please contact us at</span>  <span>support@propertysec.com</span> </mj-text>


      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
@end