@mjml()
  <mjml>
    <mj-body>
      <mj-section>
        <mj-column>
          <mj-text>
            Hello World!
            Click on this button below to verify your email
          </mj-text>
          <mj-button align="left" font-size="22px" font-weight="bold" background-color="#ffffff" border-radius="10px" color="#1AA0E1" font-family="open Sans Helvetica, Arial, sans-serif" href={{ link }}>Login</mj-button>
        </mj-column>
      </mj-section>
    </mj-body>
  </mjml>
@end
